<form name="_xclick" action="https://www.sendbox.paypal.com/cgi-bin/webscr" method="post">


Email: <input type="text" name="email" value="">
Email: <input type="text" name="email" value="">
Email: <input type="text" name="email" value="">
Email: <input type="text" name="email" value="">

<input type="hidden" name="cmd" value="_xclick-subscriptions">
<input type="hidden" name="business" value="rose_mearchant_007@gmail.com ">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="no_shipping" value="1">
<input type="image" src="http://www.paypal.com/en_GB/i/btn/x-click-but20.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
<input type="hidden" name="a3" value="10.00">
<input type="hidden" name="p3" value="2">
<input type="hidden" name="t3" value="D">
<input type="hidden" name="src" value="1">
<input type="hidden" name="sra" value="1">
<input type="submit" name="submit" value="pay now">  
  
</form>