<div class="leftArea about">
<h2>Contact Us</h2>
<p>
   We at MMAGap.com are always striving to improve our website and customer service. If you have any questions, comments or suggestions regarding the website, its users or videos, existing features or functions, want to report a bug or a problem, or would like to recommend new features for our website, please drop us a line below
</p><br><br>

<form action="/pages/contactus" onsubmit="javascript:return validate()" class="newAccount" id="PageContactusForm" method="post" accept-charset="utf-8">
<div style="display:none;"><input type="hidden" name="_method" value="POST"></div>
<p>
   <label>First Name</label>
   <label for="PageFirstName"></label>
   <input name="data[Page][first_name]" type="text" id="PageFirstName">
</p>
<p>  
   <label class="day">Last Name </label> 
   <label for="PageLastName"></label>
   <input name="data[Page][last_name]" type="text" id="PageLastName">
</p>
<p>
   <label>E-Mail</label>
   <label for="PageEmail"></label>
   <input name="data[Page][email]" type="text" id="PageEmail">
</p>
<p>
   <label>Comments</label>
   <label for="PageComments"></label>
   <textarea name="data[Page][comments]" cols="30" rows="6" id="PageComments"></textarea>   </p>
<p>
  <input type="submit" class="submitbtn1" value="Submit">
</p>

</form>

</div>