
<h1 style="font-size: 100px;min-height:90px;margin-top:50px;">How To</h1>
<p>
A How To is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.</p>
<hr/>
<div id="mainer" style="min-height:450px">
<div id='left-area' style="float:left; width:70%;">

	<div class="tabbable" > <!-- MAIN VIDEO WINDOW -->

	  <ul class="nav nav-tabs"> <!-- ALL VIDEO WINDOW -->
	    <li class="active"><a href="#tab1" data-toggle="tab">POPULAR</a></li>
	    <li><a href="#tab2" data-toggle="tab">NAME</a></li>
	    <li><a href="#tab3" data-toggle="tab">NEW</a></li>
	  </ul>
			<div class="tab-content">
			    <div class="tab-pane active"  id="tab1">
		
			    </div>
			    <div class="tab-pane" id="tab2">
			
			    </div>
			    <div class="tab-pane" id="tab3">
	
			    </div>
			    
			</div>
	</div>
</div>
<div id='right-area' style="float:right; width:30%;">
RECENT VIDEOS
<hr/>
RECENT TAGS OR VIDEOS
</div>
</div>