<div class="sqora">
  
<div class="tabbable shade"> <!-- MAIN VIDEO WINDOW -->

  <ul class="nav nav-tabs"> <!-- ALL VIDEO WINDOW -->
    <li class="active"><a href="#tab1" data-toggle="tab">REPUTATION</a></li>
    <li><a href="#tab2" data-toggle="tab">NEW USERS</a></li>
    <li><a href="#tab3" data-toggle="tab">VOTERS</a></li>
    <li><a href="#tab4" data-toggle="tab">CONTENT UPLOADERS</a></li>
    <!-- Button to trigger modal -->
    
<form class="navbar-search pull-left">
  <input type="text" class="search-query" placeholder="Search">


      </form>

<div id="where" style="float:right;font-style:italic;border-left:1px solid #ccc;width:250px;height:100%;" ></div>
  </ul>
  
<div class="tab-content">
    <div class="tab-pane active" id="tab1">
       <!--SIDEBAR 1 -->
     <div class="tabbable tabs-left">

  <ul class="nav nav-tabs" id="sidebar">
    <li class="active"><a href="#subtab10" id="sidebutton" data-toggle="tab">ALL</a></li>
    <li><a href="#subtab12" id="sidebutton" data-toggle="tab">WEEK</a></li>
    <li><a href="#subtab13" id="sidebutton" data-toggle="tab">MONTH</a></li>
    <li><a href="#subtab14" id="sidebutton" data-toggle="tab">QUARTER</a></li>
    <li><a href="#subtab15" id="sidebutton" data-toggle="tab">YEAR</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane subtab active" id="subtab10" >
      ALL REPUTATION
    </div>
    <div class="tab-pane subtab" id="subtab12">
      WEEK REPUTATION
    </div>
    <div class="tab-pane subtab" id="subtab13">
      MONTH REPUTATION
    </div>
    <div class="tab-pane subtab" id="subtab14">
      QUArtER
    </div>
    <div class="tab-pane subtab" id="subtab15">
      YEAR
    </div>
  </div>
  
</div>
<!--SIDEBAR 1 END -->
<!-- ALL VIDEO WINDOW -->
  
    </div>
    <div class="tab-pane" id="tab1">
      <p>ALL VIDEOS</p>
      
    </div>
    <div class="tab-pane" id="tab2">
      <!--SIDEBAR 2 -->
     <div class="tabbable tabs-left">

  <ul class="nav nav-tabs" id="sidebar">
    <li class="active"><a href="#subtab20" id="sidebutton" data-toggle="tab">ALL</a></li>
    <li><a href="#subtab22" id="sidebutton" data-toggle="tab">WEEK</a></li>
    <li><a href="#subtab23" id="sidebutton" data-toggle="tab">MONTH</a></li>
    <li><a href="#subtab24" id="sidebutton" data-toggle="tab">QUARTER</a></li>
    <li><a href="#subtab25" id="sidebutton" data-toggle="tab">YEAR</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane subtab active" id="subtab20" >
      ALL REPUTATION
    </div>
    <div class="tab-pane subtab" id="subtab22">
      WEEK REPUTATION
    </div>
    <div class="tab-pane subtab" id="subtab23">
      MONTH REPUTATION
    </div>
    <div class="tab-pane subtab" id="subtab24">
      QUArtER
    </div>
    <div class="tab-pane subtab" id="subtab25">
      YEAR
    </div>
  </div>
  
</div>
<!--SIDEBAR 2 END -->
      
    </div>
    <div class="tab-pane" id="tab3">
      <!--SIDEBAR 3 -->
     <div class="tabbable tabs-left">

  <ul class="nav nav-tabs" id="sidebar">
    <li class="active"><a href="#subtab30" id="sidebutton" data-toggle="tab">ALL</a></li>
    <li><a href="#subtab32" id="sidebutton" data-toggle="tab">WEEK</a></li>
    <li><a href="#subtab33" id="sidebutton" data-toggle="tab">MONTH</a></li>
    <li><a href="#subtab34" id="sidebutton" data-toggle="tab">QUARTER</a></li>
    <li><a href="#subtab35" id="sidebutton" data-toggle="tab">YEAR</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane subtab active" id="subtab30" >
      ALL REPUTATION
    </div>
    <div class="tab-pane subtab" id="subtab32">
      WEEK REPUTATION
    </div>
    <div class="tab-pane subtab" id="subtab33">
      MONTH REPUTATION
    </div>
    <div class="tab-pane subtab" id="subtab34">
      QUArtER
    </div>
    <div class="tab-pane subtab" id="subtab35">
      YEAR
    </div>
  </div>
  
</div>
<!--SIDEBAR 3 END -->
    </div>
    <div class="tab-pane" id="tab4">
      <!--SIDEBAR 4 -->
     <div class="tabbable tabs-left">

 <ul class="nav nav-tabs" id="sidebar">
    <li class="active"><a href="#subtab40" id="sidebutton" data-toggle="tab">ALL</a></li>
    <li><a href="#subtab42" id="sidebutton" data-toggle="tab">WEEK</a></li>
    <li><a href="#subtab43" id="sidebutton" data-toggle="tab">MONTH</a></li>
    <li><a href="#subtab44" id="sidebutton" data-toggle="tab">QUARTER</a></li>
    <li><a href="#subtab45" id="sidebutton" data-toggle="tab">YEAR</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane subtab active" id="subtab40" >
      ALL REPUTATION
    </div>
    <div class="tab-pane subtab" id="subtab42">
      WEEK REPUTATION
    </div>
    <div class="tab-pane subtab" id="subtab43">
      MONTH REPUTATION
    </div>
    <div class="tab-pane subtab" id="subtab44">
      QUArtER
    </div>
    <div class="tab-pane subtab" id="subtab45">
      YEAR
    </div>
  </div>
  
</div>
<!--SIDEBAR 4 END -->
    </div>
  </div>
  <div class="footer">
    <div id="paginator"
    <span style="text-align:center;"> < 1 2 3 4 > </span>
    </div>
    <div id="results">
    <span style="float:right;">SHOWING 10 of 234</span>
    </div>

  </div>
  
  
    </div>
</div>
<!--SIDEBAR 1 END -->
<!-- ALL VIDEO WINDOW -->
  
    



 <!--SQORA END -->

 





<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">UPLOAD VIDEO</h3>
  </div>
  <div class="modal-body">
    <p>YOU ARE SUCCESFULLY LOGED IN</p>
    <p>You can easily upload your video over here.</p>
    <div id="upload_dialog"> <!-- UPLOAD VIDEO FORM -->
<%= simple_form_for Video.new, :html => {:multipart => true}  do |f| %>
<%=f.input :title, :validate=> true%>
 <div class="line">
      <label for="tags">Tags</label>
      <ul id="mytags"></ul>
    </div>
  <div class="field">

  <% f.label :tag_list, "Tags (separated by commas)" %><br /> <!-- I DON'T KNOW IF WE NEED THIS -->
  <div style="display:none;"><%= f.text_field :tag_list %></div>
</div>
<%=f.input :video_link, :validate=> true%>
Please select CATEGORY
<%= f.input :category, :collection =>Video::CATEGORIES, :as => :radio_buttons,  :validate=> true%>


 <label class="checkbox">
  <input type="checkbox" value="">
  By checking this I agree with <a href="#">Terms&Conditions </a>
</label>
  </div> <!-- UPLOAD VIDEO FORM -->
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%=f.submit "Upload" ,:class=>"btn btn-primary"%>
  </div>
</div>
<%end%>


<!-- Modal END -->