<div id="videowrapper" style="background:#C00;">
  <div id="here" >Need Feedback </div>
  <div id="homeVideoWrap" style="width:100%;height:100%;" >
    <%= render 'vid_temp'%>
  </div>
</div>

