<!--ABOUT US-->
<div class="leftArea">
  <h2 class="title">About us</h2>
  <div class="termsofuse">
                    <p></p><p>
	Founded in August 2012, MMAGap allows people to post, watch and&nbsp;leave feedback&nbsp;on martial arts videos. MMAGap’s primary function is to create a community of martial artists who wish to share their experience, show of their skills, learn from each other and educate anyone willing to learn martial arts. MMAGap is a platform for people to connect, communicate, and educate anyone and everyone across the globe. MMAGap also provides a distribution hub for user created video content as well as marketing channels for advertisers of any size or budget.</p>
<p></p>
  </div>
</div>
